In [ ]:
#TASK 1: IMPORT DATA

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [13]:
path = "E:/Marketing PTIT/Datamining/final/"
data = pd.read_csv(path + "sales2019_6.csv")
data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,209921,USB-C Charging Cable,1,11.95,06/23/19 19:34,"950 Walnut St, Portland, ME 04101"
1,209922,Macbook Pro Laptop,1,1700.0,06/30/19 10:05,"80 4th St, San Francisco, CA 94016"
2,209923,ThinkPad Laptop,1,999.99,06/24/19 20:18,"402 Jackson St, Los Angeles, CA 90001"
3,209924,27in FHD Monitor,1,149.99,06/05/19 10:21,"560 10th St, Seattle, WA 98101"
4,209925,Bose SoundSport Headphones,1,99.99,06/25/19 18:58,"545 2nd St, San Francisco, CA 94016"

In [15]:
#TASK 2: Clean data

In [27]:
frames=[]

for file in os.listdir(path):
    if file.endswith(".csv"):
        filepath = path + file
        df1 = pd.read_csv(filepath)
        frames.append(df1)
        result = pd.concat(frames)
    
df = result
df.to_csv("Annual_sales2019.csv")